.wrapper {
    width: 239px;
    height: 143px;
    border: 1px solid #000;
    margin: 10px;

    .name{
        margin: 10px;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
    }

    .city {
        margin: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.41);
    }

    button {
        background: #000;
        color: #fff;
        padding: 10px 20px;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        margin: 10px;
    }
}
