.home {
    margin: 0 61px;
    .splitBlock {
        display: flex;
        width: 98%;
        height: 100px;
        justify-content: center;
    
        div{
            width: 100%;
        }
    }
}


