.root {
    display: flex;
    background: #000;
    justify-items: center;
    align-items: center;
    
    .end {
        position: relative;
        margin: auto;
        left: 125px;
        .Btn{
            background: #FFF;
            color: #000;
            font-weight: 600;
            font-size: 14px;
            margin: 0 12px;
            height: 40px;
            padding: 11px 40px;

            &:hover{
                opacity: 0.7;
            }
            &:active {
                opacity: 0.9;
            }
        }
    }
}

.title {
    margin: 10px 61px ;
    color: #FFF;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
}
